<div class="lexart-modal lexart-modal--medium">

    <div class="lexart-modal__header">
        <h1 class="lexart-modal__title">{{ 'payment_requests.show_request_details_dialog.title' | translate }}</h1>
    </div>

    <div class="lexart-modal__cnt">
        <payment-request-details-table 
            details-to-show="ngDialogData.paymentRequestDetails" 
            concept-texts="ngDialogData.conceptTexts"
            show-actions="false"
            show-footer="false"
        >
        </payment-request-details-table>
        <hr style="margin: 20px 0;">
        <label class="lexart-frm__lbl" for="observation">
            <span class="lexart-frm__lbl-name">
                <b>Observation</b>
            </span>
            <textarea ng-model="ngDialogData.reply" class="lexart-input lexart-input--textarea" disabled style="width:100%"
                placeholder="Observation"></textarea>
        </label>
    </div>

    <div class="lexart-modal__actions">
        <a class="lexart-btn" ng-click="closeThisDialog()">{{ 'shared.modal.close' | translate }}</a>
    </div>
</div>