<div class="lexart-menu__wrp" ng-class="{'lexart-menu__collapsed': thisHide == true}">
    <nav class="lexart-menu__nav">
        <div class="navbar-header">
            <button class="navbar-toggler" data-toggle="open-navbar1">
            <span></span>
            <span></span>
            <span></span>
            </button>
            <a href="#">
            <h4>Lex<span>Tracking</span></h4>
            </a>
        </div>

        <div ng-repeat="item in sidebarItems track by item.name">
            <!-- Individual Menu item -->
            <a ng-if="item.uisref && item.access" href="#" class="lexart-menu__nav-item" ui-sref-active="lexart-menu__nav-item--selected" ui-sref="{{item.uisref}}">
                <i class="{{item.icon}}"></i> <span ng-show="!thisHide">{{ item.label }}</span>
            </a>
            <!-- Grupal Menu item -->
            <div ng-if="!item.uisref && item.access" class="lexart-menu__nav-item" >
                <i class="{{item.icon}}"></i> <span ng-show="!thisHide">{{ item.label }}</span>
                <div class="lexart-hover_menu">
                    <div ng-repeat="subitem in item.submenus track by $index" class="lexart-hover_menu-item">
                        <a ui-sref-active="lexart-menu__nav-item--selected" ui-sref="{{subitem.uisref}}"><span>{{ subitem.label }}</span></a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="navbar_btn_container">
        <div class="switch-wrapper tooltip-container">
            <input type="checkbox" id="check" class="toggle" ng-click="toggleMode()" ng-model="darkModeBool">
                <label for="check" class="label">
                    <i class="ri-sun-line sun"></i>
                    <i class="ri-moon-line"></i>
                    <div class="circle"></div>
            </label>
        </div>
    </div>

    <!-- Chatbot widget directive -->
    <chatbot-widget ng-if="showChatbot"></chatbot-widget>
    
</div>
